@model IEnumerable<AppUser>
<div class="container">
    <div class="container my-5">
        <h3 class="text-primary">Manage Account</h3>
        <hr />
        <table id="userAccountTable" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Status</th>
                    <th>Point</th>
                    <th>Manage</th>
                </tr>
            </thead>
        </table>
        <div class="d-flex w-100 my-5 justify-content-start error-actions">
            <a class="btn btn-outline-success mx-2" asp-area="Customer" asp-controller="Home" asp-action="Index">
                <i class="bi bi-plus-circle-dotted"></i> Back to Home
            </a>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript" src="~/js/userAccount.js"></script>

}