<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Payment Successful!</h1>
        <p class="lead">Your payment was successful. Thank you for booking with us.</p>
        <!-- Button to navigate to the Booked Tickets page -->
        <a href="/Customer/Ticket/BookedTickets" class="btn btn-primary btn-lg">View Booked Tickets</a>
    </div>
</div>
