@model Seat

<div class="container my-5">
    <h3 class="text-primary">New Seat</h3>
    <hr />
    <form method="post" asp-action="Create" asp-controller="Seat">
        <table class="table">
            <tbody>
                <tr>
                    <th scope="row"><label class="form-label">Room Name</label></th>
                    <td>
                        <input asp-for="RoomID" class="form-text" value="@ViewData["room_id"]" hidden readonly />
                        <span>@ViewData["room_name"]</span>
                    </td>
                </tr>
                <tr>
                    <th scope="row"><label asp-for="SeatName" class="form-label"></label></th>
                    <td>
                        <input asp-for="SeatName" class="form-control w-25" />
                        <span asp-validation-for="SeatName" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <th scope="row"><label asp-for="SeatStatus" class="form-label"></label></th>
                    <td>
                        <select asp-for="SeatStatus" class="form-control w-25">
                            <option disabled selected value="disable_select">---Set Status---</option>
                            <option value="true" style="color: green;">Available</option>
                            <option value="false" style="color: red;">Locked</option>
                        </select>
                        <span asp-validation-for="SeatStatus" class="text-danger"></span>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Create</button>
            <a asp-controller="Seat" asp-action="Index" class="btn btn-secondary">Back to Seat list</a>
        </div>
    </form>
</div>

@*Validate on client side*@
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
